# ─── Node ────────────────────────────────────────────────────────────────────
node_modules/
npm-debug.log*
yarn-error.log*

# ─── Environment ──────────────────────────────────────────────────────────────
.env
*.env.local

# ─── Expo ─────────────────────────────────────────────────────────────────────
.expo/
dist/
web-build/
*.orig.*

# ─── OS ───────────────────────────────────────────────────────────────────────
.DS_Store
Thumbs.db

# ─── IDE ──────────────────────────────────────────────────────────────────────
.vscode/
.idea/

# ─── Logs ─────────────────────────────────────────────────────────────────────
logs/
*.log
